main {

    height: 100%;

    #chart-container {
        height: 100%;

        .row {
            height: 100%;

            section {
                height: 100%;

                svg.ngx-charts {
                    height: 100%;
                }
            }
        }
    }

    #chart {
        width: 100%;
        height: 100%;

        .network-canvas {
            width: 100%;
            height: 100%;
        }
    }

    #edit-node-context-menu {
        position: absolute;
        z-index: 1000;
    }
}
