<app-header></app-header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div *ngIf="visNetworkData">
                    <h2>
                        Network: {{network.networkName}} &nbsp;
                        <button class="btn btn-primary" (click)="renameNetwork()"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="chart-container">
        <div class="row">
            <section class="col-9">
                <div *ngIf="visNetworkData" id="chart">
                    <div
                        #visNetworkCanvas
                        class="network-canvas"
                        [visNetwork]="visNetworkName"
                        [visNetworkData]="visNetworkData"
                        [visNetworkOptions]="visNetworkOptions"
                        (initialized)="networkInitialized()"
                    ></div>
                </div>
            </section>
            <section class="col-3" id="node-controls-section">

                <div class="card mb-3" id="network-actions-card">
                    <div class="card-header">
                        Network actions
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-primary" (click)="saveNetwork()">Save network</button>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-primary" (click)="exportNetwork()">Export network
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-danger" (click)="deleteNetwork()">Delete network
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" id="edit-network-card">
                    <div class="card-header">
                        Edit your network
                    </div>
                    <div class="card-body">

                        <div class="mb-3">
                            <button type="button"
                                    [className]="'btn btn-outline-primary' + (currentNetworkMode == 1 ? ' active' : '')"
                                    (click)="toggleEditNodesMode()">Toggle edit nodes mode
                            </button>
                        </div>

                        <div>
                            <button type="button"
                                    [disabled]="nodes.length < 2"
                                    [className]="'btn btn-outline-primary' + (currentNetworkMode == 2 ? ' active' : '')"
                                    (click)="toggleEditEdgesMode()">Toggle edit edges mode
                            </button>
                        </div>

                        <div *ngIf="currentNetworkMode == 2" class="add-edge-form-wrapper mt-3">

                            <div class="mb-2">First node:
                                <span *ngIf="firstNode">{{firstNode.label}}</span>
                            </div>
                            <div class="mb-3">Second node:
                                <span *ngIf="secondNode">{{secondNode.label}}</span>
                            </div>

                            <div class="mb-2">
                                <button mat-raised-button color="primary" (click)="addEdge()"
                                        [disabled]="!firstNode || !secondNode">
                                    Add Edge
                                </button>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" (click)="openDeleteEdgeDialog()"
                                        [disabled]="!selectedEdge">
                                    Delete Edge
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div id="edit-node-context-menu" class="btn-group-vertical" role="group" aria-label="Vertical button group"
         [style.display]="contextMenuVisible ? 'block' : 'none'"
         [style.left]="contextMenuPosition.x"
         [style.top]="contextMenuPosition.y"
    >
        <button type="button" class="btn btn-outline-primary" (click)="openCreateNodeDialog()">Attach node</button>
        <button type="button" class="btn btn-outline-primary" (click)="openEditNodeDialog()">Edit</button>
        <button *ngIf="nodes.length > 1" type="button" class="btn btn-outline-danger" [disabled]="nodes.length == 1"
                (click)="openDeleteNodeDialog()">Delete
        </button>
    </div>
</main>
