<app-header></app-header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div *ngIf="visNetworkData">
                    <h2>Network: {{network.networkName}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="chart-container">
        <div class="row">
            <section class="col-9">
                <div *ngIf="visNetworkData" id="chart">
                    <div
                        #visNetworkCanvas
                        class="network-canvas"
                        [visNetwork]="visNetworkName"
                        [visNetworkData]="visNetworkData"
                        [visNetworkOptions]="visNetworkOptions"
                        (initialized)="networkInitialized()"
                    ></div>
                </div>
            </section>
            <section class="col-3" id="add-node-section">
                <div class="mb-3">
                    <button type="button" class="btn btn-outline-primary" (click)="SaveNetwork()">Save network</button>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-outline-primary" (click)="ExportNetwork()">Export network</button>
                </div>
                <div class="mb-3">
                    <button type="button"
                            [className]="'btn btn-outline-primary' + (currentNetworkMode == 1 ? ' active' : '')"
                            (click)="toggleEditNodesMode()">Toggle edit nodes mode
                    </button>
                </div>
                <div>
                    <button type="button"
                            [disabled]="nodes.length < 2"
                            [className]="'btn btn-outline-primary' + (currentNetworkMode == 2 ? ' active' : '')"
                            (click)="toggleEditEdgesMode()">Toggle edit edges mode
                    </button>
                </div>
                <!--            <div *ngIf="currentNetworkMode == 1" class="add-node-form-wrapper">-->
                <!--                <form>-->
                <!--                    <mat-form-field appearance="fill">-->
                <!--                        <mat-label>Название узла</mat-label>-->
                <!--                        <input matInput placeholder="Введите название" [(ngModel)]="newNodeLabel" name="newNodeLabel">-->
                <!--                    </mat-form-field>-->
                <!--                    <div>-->
                <!--                        <button mat-raised-button color="primary" (click)="addNode()"-->
                <!--                                [disabled]="!newNodeLabel || !selectedNodeId">-->
                <!--                            Add Node-->
                <!--                        </button>-->
                <!--                    </div>-->
                <!--                </form>-->
                <!--            </div>-->

                <div *ngIf="currentNetworkMode == 2" class="add-edge-form-wrapper">

                    <div>First node:
                        <span *ngIf="firstNode">
                        {{firstNode.label}}
                    </span>
                    </div>
                    <div>Second node:
                        <span *ngIf="secondNode">
                        {{secondNode.label}}
                    </span>
                    </div>

                    <button mat-raised-button color="primary" (click)="addEdge()"
                            [disabled]="!firstNode || !secondNode">
                        Add Edge
                    </button>

                    <div>
                        <button mat-raised-button color="primary" (click)="openDeleteEdgeDialog()"
                                [disabled]="!selectedEdge">
                            Delete Edge
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div id="edit-node-context-menu" class="btn-group-vertical" role="group" aria-label="Vertical button group"
         [style.display]="contextMenuVisible ? 'block' : 'none'"
         [style.left]="contextMenuPosition.x"
         [style.top]="contextMenuPosition.y"
    >
        <button type="button" class="btn btn-outline-primary" (click)="openCreateNodeDialog()">Attach node</button>
        <button type="button" class="btn btn-outline-primary" (click)="openEditNodeDialog()">Edit</button>
        <button type="button" class="btn btn-outline-danger" [disabled]="nodes.length == 1" (click)="openDeleteNodeDialog()">Delete</button>
    </div>
</main>
